<%= form_for(@radar) do |f| %>
  <% if @radar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@radar.errors.count, "error") %> prohibited this radar from being saved:</h2>

      <ul>
      <% @radar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
